/*this file contains the styling for login elements */
#loginFormContainer{margin: 0px auto; display: table; position: relative; top:100px; background-color: #ddd;}
#loginErr{color:red; font-size: 14px; height: 25px; position: relative; left: 10px; top:10px;}